/* ESPECIFICAÇÕES GERAIS */
body{
    background-color: hsl(185, 41%, 84%);
    font-family: 'space mono', monospace;
}
.xx{
    background-color: blue;
}
/* ONDE TEM AS DUAS PARTES, E ONDE CENTRALIZA A JANELA */
#container {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* A JANELA BRANCA */
#main{
    border-color: white;
    border-style: solid;
    border-radius: 18px;
    background-color: white;
    color:hsl(186, 14%, 43%);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* PRIMERIA QUADRADO*/
#FirstPart{
    margin: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* inputs do bill e do number of people */
.flex-label{
    border: none;
    border-radius: 4px;
    background-color: hsl(189, 41%, 97%);
    display: flex;
    width: 92%;
}
.flex-label:focus-within{
    border: 2px solid hsl(172, 67%, 45%);
    border-radius: 6px;
}
.placeholder-label{
    padding:2%;
    margin-top: 3px;
    margin-left: 3px;
}
.BigInputs{
    width: 90%;
    text-align: right;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
    border: none;
    outline: none;
}
.BigInputs::-webkit-input-placeholder{
    text-align: left;
    padding-left: 6px;
}
.percent-btn{
    color: white;
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    width: 28%;
    height: 40%;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 4%;
    padding-top: 8px;
    margin: 4px 0;
}
.percent-btn:hover, .percent-btn:focus{
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}
.btn-text{
    width: 25%;
    height: 30%;
    color: hsl(183, 100%, 15%);
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    padding: 1%;  
    border: none;
    background-color: hsl(189, 41%, 97%);
}
.btn-text:focus-within{
    border: 2px solid hsl(172, 67%, 45%);
    border-radius: 4px;
    outline: none;
}
.description{
    font-size: 12px;
    font-weight: bold;
    
}
/* SEGUNDO QUADRADO */
#SecondPart{
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 15px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.person{
    font-size: 10px;
    color: hsl(186, 14%, 56%);
}
/* ITENS DO SEGUNDO QUADRADO SEM O BUTTON */
#SecondPart-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ESPECIFICAÇÕES PARA OS FLEX-ITENS, DENTRO DO MAIN*/
.section{
    flex-basis: auto;
    flex-grow: 1;
    width: 20vw;
    height: 40vh;
    
}
/* CLASSE QUE POE FLEX NA DESCRIÇÃO E NO VALOR*/
.flex-SecondPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}
#total{
    margin-top: 10%;
}
/* COR DOS VALORES*/
.value{
    color: hsl(172, 67%, 45%);
    font-size: 25px;
    font-weight: bold;
}
/* OS 3 PROXIMOS ITENS REFEREM-SE AO BUTTON DA SEGUNDA PARTE*/
#div-btn-reset{
    text-align: center;
}
#btn-reset{
    width: 80%;
    height: 100%;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    border:none;
    font-size: 15px;
    font-weight: bold;    
}
#btn-reset:hover{
    background-color: hsl(185, 41%, 84%);
    cursor: pointer;
}
/* SO ESPECIFICAÇÕES PARA TELAS MENORES QUE DESKTOP E MAIORES QUE SMARTPHONE (TABLET)*/
@media(min-width: 830px) and (max-width: 1100px){
    /* PRIMEIRA PARTE */
    .percent-btn, .description{
        font-size: 10px;
    }
    .btn-text{       
        height: 18px;
        font-size: 10px;
        padding: 1%;  
    }
    .BigInputs, .value{
        font-size: 15px;
    }
    .flex-label{
        width: auto;
    }
    /* SEGUNDA PARTE */
    .flex-SecondPart{
        margin: 0 30px;
    }
    #total{
        padding-top: 20px;
    }
    .person{
        font-size: 7px;
    }
}
/* ONDE A PRIMEIRA QUEBRA VAI ACONTECER */
@media(min-width: 751px) and (max-width:830px){
    .value{
        font-size: 15px;
    }
    .description{
        font-size: 9px;
    }
    .flex-SecondPart{
        justify-content: space-between;
        margin: 0 20px;
    }
    .percent-btn{
        font-size: 12px;
        margin-bottom: 2px;
    }
    .flex-label{
        margin: 0 auto;
    }
}
/* PARA SMARTPHONES */
@media(min-width: 375px) and (max-width: 750px){
    #main{
        height: 100%;
    }
    #FirstPart, #main{
        width: 100%;
        display: block;
    }
    .percent-btn{
        width: 40%;
        height: 40px;
        padding: 2%;
        margin: 6px auto;
    }
    .btn-text{
        width: 37%;
        height: 27px;
        border: none;
    }
    .description{
        margin-top: 20px;
    }
    #SecondPart{
        width: 85%;
        margin-left: 25px;
        margin-top: 80px;
    }
    .flex-label{
        width: 84%;
        border: none;  
    }
    .BigInputs, .flex-label, .btn-text{
        background-color: hsl(189, 41%, 97%);
    }
}